/* CSS declarations go here */
.noDec{
	/*pointer-events: none;
  cursor: pointer;*/
}
#slugRunner {
	max-width: 82px;
	display: inline-block;
	position: absolute;
	top: 2.2%;
	/*left: 30%;*/
	
	z-index: 10000;
	/*position:absolute;*/
	/*z-index: 100;*/
	/**/
}

#login-buttons {
	float: right;
	/*margin-right: 150px;*/
}

.display{
/*	display: none;*/
}

.form-control{
	pointer-events: none;
	background-color:rgba(0,255,0,0.3);
}

.end{
	background-color:rgba(255,0,0,0.3);
}

.modal-footer{
	height:200px;
	overflow: auto;
}
#chat-wrapper{
	position: fixed;
  top: 87%;
  width: 700px;
}


#chat-box {
  padding-top: 3px;
  top:-17em;
  right:7.4em;
  width: 80%;
  float:left;

}

#chat-log {
  overflow-y:auto;
  float:center;
}


#chat-send-button {
  position:fixed;
  top:-17.2em;
  right:12em;
}

.chat-username-column {
  float:left;
}

.chat-body-column {
  right:80%;
}
/*
input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label
   {
       background-image: url("porterOff.svg");
       height: 100px;
       width: 200px;
       display:inline-block;
       padding: 0 0 0 0px;
   }

   input[type=checkbox]:checked + label
    {
        background-image: url("porterOn.svg");
        height: 100px;
        width: 200px;
        display:inline-block;
        padding: 0 0 0 0px;
    }*/


#kresge{
	background-image: url("kresgeOff.svg");
}
#porterForm{
	height: 100px;
  width: 180px;
  background-image: url(porterOn.svg);
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#kresgeForm{
	height: 100px;
  width: 180px;
  background-image: url(kresgeOn.svg);
  overflow: hidden;
  position: relative;
  display: inline-block;

}

#oakesForm{
	height: 100px;
  width: 180px;
  background-image: url(oakesOn.svg);
  overflow: hidden;
  position: relative;
  display: inline-block;

}

#crownForm{
	height: 100px;
  width: 180px;
  background-image: url(CrownOn.svg);
  overflow: hidden;
  position: relative;
  display: inline-block;

}
#college8Form{
	height: 100px;
  width: 180px;
  background-image: url(college8On.svg);
  overflow: hidden;
  position: relative;
  display: inline-block;
  
}


.toggle {
  height: 200px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

input.toggle:checked + img {
   opacity: 0;
}


 
img {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

