
#chat-box {
  padding-top: 3px;
  top:-17em;
  right:7.4em;
  width: 72%;
  float:left;

}

#chat-log {
  overflow-y:auto;
  padding-top: 40px;
  float:center;
}


#chat-send-button {
 /* position:relative;*/
  top:-17.2em;
  right:12em;
}

.chat-username-column {
  float:left;
}

.chat-body-column {
  right:80%;
}

